DATABASE_URL=postgresql://fms_admin:fms_password123@127.0.0.1:5432/fms_db

FMS_ZENOH_ENDPOINT=tcp/127.0.0.1:7447

FMS_ROBOT_COUNT=3

FMS_MAP_YAML=my_map.yaml

FMS_ROUTE_GRAPH=test.geojson

FMS_CMD_VEL_MAX_LINEAR=0.5

FMS_CMD_VEL_MAX_ANGULAR=2.0

FMS_CORS_ORIGINS=*